{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Etsy Ai Design Automation{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'manager/css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.3.1/fabric.min.js"></script>
    {% block extra_head %}{% endblock %}
</head>
<body class="bg-gray-50 text-gray-800 font-sans min-h-screen flex flex-col">

    {% include 'components/navbar.html' %}

    <main class="flex-grow container mx-auto px-4 py-8 max-w-6xl">
        {% block content %}
        {% endblock content %}
    </main>

    {% include 'components/footer.html' %}
    {% include 'components/modals.html' %}

    <script src="{% static 'manager/js/common.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>