# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
db.sqlite3

# Çevresel Değişkenler ve Güvenlik
.env

# Sanal Ortamlar
venv/
env/

# Medya ve Statik Dosyalar (Kullanıcı Üretimleri GitHub'a Gitmesin)
media/
assets/
apps/ui/static/media/

# IDE Dosyaları
.vscode/
.idea/
.DS_Store